In [40]:
# py-economics
import pandas as pd

path_data = './db_data/gdp.csv'

# we are using read_csv() from pandas
gdp_data = pd.read_csv(path_data, encoding='utf-8')
gdp_data

,Unnamed: 0,Gross domestic product 2022,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,(millions of,NaN
2,NaN,Ranking,NaN,Economy,US dollars),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,USA,1,NaN,United States,"25,462,700",NaN
...,...,...,...,...,...,...
324,NaN,NaN,NaN,NaN,NaN,NaN
325,NaN,NaN,NaN,NaN,NaN,NaN
326,NaN,NaN,NaN,NaN,NaN,NaN
327,NaN,NaN,NaN,NaN,NaN,NaN
328,NaN,NaN,NaN,NaN,NaN,NaN