In [3]:
# py-economics

,Unnamed: 0,Gross domestic product 2022,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
324,NaN,NaN,NaN,NaN,NaN,NaN
325,NaN,NaN,NaN,NaN,NaN,NaN
326,NaN,NaN,NaN,NaN,NaN,NaN
327,NaN,NaN,NaN,NaN,NaN,NaN
328,NaN,NaN,NaN,NaN,NaN,NaN